html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 50px;
}
body> .container {
    padding: 20px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
